MYSQL_ROOT_PASSWORD=study_time_root_dev
MYSQL_DATABASE=study_time
MYSQL_USER=study_time
MYSQL_PASSWORD=study_time_dev
MYSQL_PORT=3306

REDIS_PASSWORD=study_time_redis_dev
REDIS_PORT=6379

MINIO_ROOT_USER=study_time
MINIO_ROOT_PASSWORD=study_time_minio_dev_1234
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
